a {
	color: #00FF00;
}

body {
	background-color: black;
	color: white;
}

/* Chosen to be the same as the width of the background image added by milkyWay.css. */
main {
	max-width: 1024px;
}

.hiddenLink {
	color: black;
	float: right;
	text-decoration: none;
}
