a {
	color: #00FF00;
}

blockquote {
	margin: 0px;
}

blockquote:before {
	content: open-quote;
}

blockquote:after {
	content: close-quote;
}

body {
	background-color: black;
	color: white;
	padding: 10px;
}

li, p, td {
	font-size: 18px;
}

li {
	margin-top: 5px;
	margin-bottom: 5px;
}

main {
	margin: auto;
}

ol {
	padding-left: 20px;
}

table {
	border-collapse: collapse;
}

td, th {
	border: 1px solid white;
	padding: 10px;
}

.big-quote {
	font-size: 150%
}

.big-quote:before {
	font-size: 150%;
}

.big-quote:after {
	font-size: 150%;
}

.dictionary-term {
	font-weight: bold;
}

.hiddenLink {
	color: black;
	float: right;
	text-decoration: none;
}

.ipa {
	font-family: monospace;
	white-space: nowrap;
}

.work-title {
	font-style: italic;
}
