/* Adds a background image of the Milky Way. Puts an upper bound on the width of <main>. */

body {
	margin: 0px;
}

main {
	background-attachment: fixed;
	/* Source: http://www.spitzer.caltech.edu/images/1540-ssc2006-02a-A-Cauldron-of-Stars-at-the-Galaxy-s-Center */
	background-image: url('../assets/milky-way.jpg');
	background-repeat: repeat-y;
	background-position: center top;
	float: top;
	margin: 0px auto;
	max-width: 1024px;
	padding: 5px;
}

blockquote, h1, h2, h3, h4, h5, h6, p, li, th, td {
	/* Black translucent background */
	background-color: rgb(0,0,0,0.5);
	margin-left: 10px;
	width: fit-content;
}

/* Prevent double background */
li blockquote, li p, td blockquote, td li, td p, th h1, th h2, th h3, th h4, th h5, th h6 {
	background-color: transparent;
}
