<!DOCTYPE html>
<html lang='en'>
	<head>
		<title>{title}</title>
		<meta charset='utf-8'>
		<link rel='stylesheet' type='text/css' href='styles/main.css'>
		<link rel='stylesheet' type='text/css' href='styles/milky-way.css'>
	</head>
	<body>
		<nav><a href='index.html'>Home</a></nav>
		<main>
			<h1>{title}</h1>
			{main}
			<p>The background image of this page is an infrared image of the center of our galaxy, and is in the public domain thanks to NASA (<a href='https://www.spitzer.caltech.edu/images/1540-ssc2006-02a-A-Cauldron-of-Stars-at-the-Galaxy-s-Center' target='_blank'>source</a>).</p>
			<p><i>Last significant modification on {modified}.</i></p>
			<p><i>Created on {created}.</i></p>
		</main>
	</body>
</html>
